html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #FAFAFA;
  font-family: 'Inter', sans-serif;
  color: #1A1A1A;
}

/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #C29F5D;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9A7D42;
}
